/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swift-format

distribution.zip
ndbs.json


# SwiftLint Remote Config Cache
.swiftlint/RemoteConfigCache
