.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.swift-format

distribution.zip
ndbs.json


# SwiftLint Remote Config Cache
.swiftlint/RemoteConfigCache
