$ndb-color: #7d5732;

$tiny-size: 1.75vmin;
$small-size: 2vmin;
$med-size: 3vmin;
$large-size: 4vmin;

@mixin info-plate {
    border: 2px solid $ndb-color;
    border-radius: 2vmin;
    color: $ndb-color;

    * {
        color: $ndb-color;
    }
}

@mixin full-height {
    height: 100vh;
    /* mobile viewport bug fix */
    height: -webkit-fill-available;
}
