@use './constants';

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: white;

  @media (prefers-color-scheme: dark) {
    background-color: black;
  }

  .full-height {
    height: 100vh;
  }

  /* mobile viewport bug fix */
  &:not(.is-chrome) {
    height: fill-available;

    .full-height {
      height: fill-available;
    }
  }
}

* {
  color: black;

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

h1 {
  font-family: Mulish, sans-serif;
  font-size: constants.$large-size;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-family: Mulish, sans-serif;
  font-size: constants.$med-size;
  font-weight: 500;
  text-align: center;
}

p,
div,
span {
  font-family: Mulish, sans-serif;
  font-size: constants.$med-size;
}
