name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Build
        run: cd generate-navaids && swift build -v
  lint:
    name: Run Swiftlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: norio-nomura/action-swiftlint@3.2.1
        env:
          WORKING_DIRECTORY: generate-navaids
  swift-format:
    name: Run swift-format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: SwiftyLab/setup-swift@latest
        with:
          swift-version: '6.2'
      - name: Download .swift-format
        run: |
          curl -o generate-navaids/.swift-format https://gist.githubusercontent.com/RISCfuture/e0c21afb7bd80a88d128a42bf40d2ecd/raw/7c4af5558f34e9deefc70701f7f7e289d0934187/.swift-format
      - name: Install swift-format
        run: |
          git clone https://github.com/apple/swift-format.git
          cd swift-format
          swift build -c release
          sudo cp .build/release/swift-format /usr/local/bin/
      - name: Run swift-format lint
        run: cd generate-navaids && swift-format lint -r .
